@import "variables"
@import "mixins"
@import "themes/light"

@import "functions"

//Allgemeine Styles

html
  @include applyTheme($theme)

*
  box-sizing: border-box

body
  @include themeable(background-color, background1)
  @include themeable(color, color1)
  display: flex

  //outline: 2px dotted lime

  > .left
    max-width: 15rem
    outline: 2px dotted darkred

  > main
    flex-grow: 1
    //outline: 2px dotted blue
    //background-color: red

    > form
      display: flex
      flex-flow: row wrap
      gap: $gap-small

      padding: $gap-medium
      margin-bottom: $gap-medium
      background-color: rgba(221, 45, 74, 0.3)

      > .first-row
        flex: 1 calc(100% / 2 - $gap-small * 2 - $gap-medium)

      > .icon
        flex-basis: $gap-medium
        flex-grow: 0

      > .second-row
        flex: 1 auto

    .basket-list
      padding: $gap-medium
      background-color: rgba(17, 77, 187, 0.51)

a
  @include themeable('color', accent1)

  &:hover
    @include themeable('color', accent2)

p
  padding: 0 $gap-small

h1
  text-align: center
  @include themeable(color, accent1)

  &:after
    content: ''
    display: block
    width: 80%
    margin: $gap-small/2 auto 0 auto
    border-bottom: 2px solid
    @include themeable(border-color, accent1)

input, button
  min-height: $gap-medium

