@import "themes/light"
@import "variables"
@import "mixins"

@import "functions"

//Allgemeine Styles

html
  @include applyTheme($theme)

*
  box-sizing: border-box

body
  @include themeable(background-color, background1)
  @include themeable(color, color1)
  display: flex

  //outline: 2px dotted lime

  > .left
    max-width: 15rem
    border-right: 1px solid
    @include themeable(border-color, accent1)
    //outline: 2px dotted darkred

  > main
    flex-grow: 1
    //outline: 2px dotted blue
    //background-color: red

    > form
      display: flex
      flex-flow: row wrap
      gap: $gap-small

      padding: $gap-medium
      margin-bottom: $gap-medium
      //background-color: rgba(221, 45, 74, 0.3)

      > .first-row
        flex: 1 calc(100% / 2 - $gap-small * 2 - $gap-medium)

      > .icon
        flex-basis: $gap-medium
        flex-grow: 0
        margin-left: -$gap-small

      > .second-row
        flex: 1 auto

    .basket-list
      padding: $gap-medium
      //background-color: rgba(17, 77, 187, 0.51)

      > article
        display: flex
        padding: $gap-small
        border-radius: $radius
        //outline: 2px dotted lime
        cursor: pointer
        height: calc($gap-large + $gap-small * 2)
        @include card

        &:hover
          @include cardHighlight

        .flex
          display: flex
          flex-flow: row wrap

          > h2
            //flex: 1 auto
            margin: 0 0 $gap-small 0

          > span
            flex-basis: 85%

        > img
          width: $gap-large
          height: $gap-large
          margin-right: $gap-small

        > .controls
          display: flex
          flex-flow: column
          justify-content: space-around
          //background-color: rgba(255, 0, 0, 0.45)
          //background-color: white
          width: 25%

          > button
            font-size: 1.5rem

        > .message-box
          display: none


a
  @include themeable('color', accent1)

  &:hover
    @include themeable('color', accent2)

p
  padding: 0 $gap-small

h1
  text-align: center
  @include themeable(color, accent1)

  &:after
    content: ''
    display: block
    width: 80%
    margin: $gap-small/2 auto 0 auto
    border-bottom: 2px solid
    @include themeable(border-color, accent1)

input, button

  min-height: $gap-medium
  border: none
  outline: none
  border-radius: $radius
  @include card

  &.no-radius-left
    border-top-left-radius: 0
    border-bottom-left-radius: 0

  &.no-radius-right
    border-top-right-radius: 0
    border-bottom-right-radius: 0

input:focus, button:active
  border: 1px solid
  @include cardHighlight

button[type='button']
  cursor: pointer

button.transparent
  background-color: rgba(0, 0, 0, 0) //make transparent
  box-shadow: none
  text-shadow: 3px 3px 1px $shadow-color
  text-shadow: 3px 3px 1px var(--shadow1)

  &:hover
    text-shadow: 3px 3px 1px $shadow-color-hover
    text-shadow: 3px 3px 1px var(--shadow2)

