@import "variables"
@import "mixins"
@import "themes/light"

@import "functions"

//Allgemeine Styles

html
  @include applyTheme($theme)

*
  box-sizing: border-box

body
  @include themeable(background-color, background1)
  @include themeable(color, color1)
  max-width: 50rem
  margin: 0 auto $gap-small auto

h1
  text-align: center

  &:after
    content: ''
    display: block
    margin: $gap-small / 2 auto $gap-medium auto
    width: 90%
    border: solid 1px
    @include themeable('border-color', accent2)

h2:after
    content: ''
    display: block
    margin: $gap-small / 2 auto $gap-medium 0
    width: 50%
    border: solid 1px
    @include themeable(border-bottom-color, color1)
a
  text-decoration: none
  @include themeable(color, accent2)

  &:hover
    @include themeable(color, linkhover)

nav li > a
  border: solid 1px
  @include themeable('border-color', background2)

  &:hover
    border: solid 1px
    @include themeable('border-color', accent2)
    font-weight: initial

ol, ul
  padding: 0 0 0 $gap-small
  margin: 0

  > li
    padding: 0
    margin: 0

    &::marker
      font-weight: bolder

ol
  padding: 0 0 0 $gap-small + 1rem

ul > li
  list-style-type: none



nav.nav-bar
  display: inline
  text-align: center

  ul
    @include border
    padding: 0
    @include themeable(background-color, background2)
    margin: $gap-medium 0

    li
      list-style-type: none
      display: inline-block

      &> a
        @include border
        display: inline-block
        margin: $gap-small $gap-medium

section > section > *:not(h2,h3,h4,h5,h6)
  padding-left: $gap-small
  margin-right: 0

.center
  text-align: center

// index.html

.assignments
  margin: $gap-large

  ul
    display: grid
    grid-template-columns: auto auto
    row-gap: $gap-small
    column-gap: $gap-small
    width: 100%

    li > a
      display: block
      @include themeable(background-color, background2)
      @include border
      padding-top: 50%

      &:after
        content: ''
        display: block
        padding-bottom: 50%

    span
      @include themeable(color, color1)
      margin-right: $gap-small

// dragon.html

.dragons
  img
    width: 100%
    height: 30rem
    object-fit: cover

// list.html

.recipe
  img
    height: 30rem
    width: 100%
    object-fit: cover
    object-position: 50% 58%

// form.html

.forms
  textarea
    width: 100%
    height: 10rem

  input[type="range"]
    width: 100%
