//Using scss because ability to define multiline maps
$theme: (
    background1: #181F25,
    background2: #202931,
    color1: #DAE6FC,
    color2: #7BA5F4,
    accent1: #418E3E,
    accent2: #83C77F,
    shadow1: rgba(218,230,252,0.3),
    shadow2: rgba(65,142,62, 1),
)
