//Using scss because ability to define multiline maps
$theme: (
  background1: #F3F5F7,
  background2: #E7EBEF,
  color1: #061A40,
  color2: #114DBB,
  accent1: #ACDAAA,
  accent2: #58B455,
  shadow1: rgba(6, 26, 64, 0.3),
  shadow2: rgba(172, 218, 170, 1),
)
